.footer {
  padding: 1.5em 1em 2.5em;
  background-color: map-get($colors, deep-space);
  color: map-get($colors, white);
  text-align: center;
  font-size: 0.9rem;

  .footer-list {
    list-style: none;
    padding: 0;
    margin: 0 0 16px;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    white-space: nowrap;

    li a {
      color: map-get($colors, white);
      text-decoration: none;
      transition: map-get($transitions, all);

      &:hover {
        color: map-get($colors, hover-highlight);
      }
    }
  }
}
