.nav-list {
  @include fadeInAnimation;
}

.header {
  @include header-style;
  height: $header-height;
  background-color: map-get($colors, header-bg);
  box-shadow: 0 4px 8px map-get($colors, lighter-bg);
  transition: map-get($transitions, transform), map-get($transitions, opacity);
  width: 100%;
  z-index: 1000;
  // display: flex;
  display: none;
  align-items: center;
  justify-content: center;

  &.hide {
    transform: translateY(-100%);
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .nav-list {
      list-style: none;
      display: flex;
      gap: 2.5em;

      li {
        a {
          color: white;
          text-decoration: none;

          &:hover {
            color: map-get($colors, hover-highlight);
          }
        }
      }
    }
  }
}
