.arrow-container {
  opacity: 0;
  @include fadeInAnimation;
  @include pulsateAnimation;
  margin: 0 auto;
  position: absolute;
  scale: 0.8;
  bottom: 50px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 475px) {
  .arrow-container {
    bottom: 10px;
  }
}

@media (max-height: 500px) {
  .arrow-container {
    bottom: -5px;
    scale: 0.6;
  }
}
