.content-page-tos-privacy {
  max-width: 800px;
  padding: 4em 1em 2em;
  margin: 4.5em 0.6em 1em;
  background-color: map-get($colors, hero-bg);
  box-shadow: 0 4px 8px map-get($colors, lighter-bg);
  border-radius: 10px;
  color: map-get($colors, frost-white);

  @media (min-width: 800px) {
    margin: 4em auto 1em;
  }

  .page-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .page-content {
    h2 {
      margin-top: 1.5rem;
      font-size: 1.6rem;
      color: map-get($colors, seafoam-green);
    }

    p,
    li {
      font-size: 1.2rem;
      line-height: 1.4;
      margin-top: 0.5rem;
    }
  }
}
