@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin header-style {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}
