@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin header-style {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

@mixin bgFadeInAnimation {
  animation: map-get($animations, long-fade-in);
}

@mixin fadeInAnimation {
  animation: map-get($animations, fade-in);
}

@mixin pulsateAnimation {
  animation: map-get($animations, pulsate);
}
