.hero {
  @include flex-center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 0.5em;
  width: 100%;
  position: relative;
  z-index: 1;

  .hero-content {
    opacity: 0;
    @include fadeInAnimation;
    text-align: center;
    background-color: map-get($colors, hero-bg);
    box-shadow: 0 4px 8px map-get($colors, lighter-bg);
    color: map-get($colors, white);
    width: 100%;
    padding: 2em;

    .hero-title {
      font-size: clamp(2rem, 5vw, 3rem);
    }

    .hero-subtitle {
      margin-top: 1rem;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }
}
